<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SvcBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <enableWebScript />
          <webHttp automaticFormatSelectionEnabled="true" defaultBodyStyle="WrappedRequest"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="WebAPIService.DocumentService" behaviorConfiguration="SvcBehavior">
        <endpoint address="" binding="webHttpBinding" contract="WebAPIService.IDocumentService" behaviorConfiguration="endpointBehavior"/>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>