<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <appSettings>
    <add key ="wcfServicePort" value="9901"/>
    <add key ="webAPIServicePort" value="8080"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SvcBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <webHttp automaticFormatSelectionEnabled="true" defaultBodyStyle="WrappedRequest"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="WebAPIService.DocumentService" behaviorConfiguration="SvcBehavior">
        <endpoint address="" binding="webHttpBinding" contract="WebAPIService.IDocumentService" behaviorConfiguration="endpointBehavior"/>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>